.modalidadContainer {
    text-align: center;
    .modalidadBtns {
        display: flex;
        justify-content: space-evenly;
    }
    .textoModalidad {
        #subscription {
            ul {
                margin: 20 0 0 0;
                padding: 0;
                list-style-position: inside;
            }
        }
    }
}