/* Estilos generales del Navbar */
.navbar {
    background-color: black;
    color: #fff;
    padding: 20px 20px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-logo {
    width: 15%;
  }

  .navbar-logo img {
    width: 100%;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
  }
  
  /* Estilos para pantallas más pequeñas (acordeón) */
  .navbar-links.expanded {
    display: block;
    position: absolute;
    top: 48px;
    left: 0px;
    right: 0px;
    background-color: black;
    z-index: 1;
  }
  
  .navbar-links.expanded a {
    display: block;
    padding: 10px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  